<ion-app>
  <ion-header translucent>
    <ion-toolbar color="primary">
      <ion-avatar>
        <img src="assets/img/user.JPG">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen  color="medium">
    <ion-list lines="full">
      <ion-item>
        <ion-label>Nama</ion-label>
        <ion-label class="end">{{users?.userName}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Jenis Kelamin</ion-label>
        <ion-label class="end">{{users?.userSex}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Tanggal Lahir</ion-label>
        <ion-label class="end">{{users?.userBirth}}</ion-label>
      </ion-item>
      
      <ion-item-divider>
      </ion-item-divider>

      <ion-item>
        <ion-label>No. Hp</ion-label>
        <ion-label class="end">{{users?.userPhone}}</ion-label>
      </ion-item>

      <ion-item >
        <ion-label>Email</ion-label>
        <ion-label class="end">{{users?.userEmail}}</ion-label>
      </ion-item>
    </ion-list>

    <div class="logout">
      <ion-button expand="block" color="danger" detail (click)="logout()">Logout</ion-button>
    </div>
  </ion-content>
</ion-app>