ion-toolbar{
    ion-avatar{
        margin: auto;
        margin-top: 25px;
        height: 80px;
        width: 80px;
    }
    height: 150px;
}

ion-item{
    font-size: 13px;
    .end{
        text-align: right;
        overflow: visible;
    }
}

.logout{
    margin: auto;
    margin-top: 30px;
    width: 300px;
}
