<h1 mat-dialog-title>Tambah Kategori Buku</h1>
<div mat-dialog-content>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">ID Kategori</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="id" [(ngModel)]="dataKategori.id" placeholder="ID Kategori">
        </div>
        </div>
      

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Kategori</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="kategori" type="text" [(ngModel)]="dataKategori.kategori" placeholder="Kategori">
        </div>
      </div>


     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Batal</button>
        <button type="button" class="btn btn-primary" (click)="addKategori()">Simpan</button>
    </div>
    
