<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/m/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Peminjaman</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-list lines="full">
    <ion-item button detail (click)="openDaftar()">
      <ion-label>Daftar Pinjaman</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="openRiwayat()">
      <ion-label>Riwayat</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
