<h1 mat-dialog-title>Tambah Data Pinjaman</h1>
<div mat-dialog-content>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Tanggal Peminjaman</label>
    <div class="uk-form-controls">
      <div class="uk-inline">
        <a class="uk-form-icon uk-form-icon-flip" (click)="picker.open()" uk-icon="icon: calendar"></a>
        <input readonly class="uk-input" (change)="generateKode()" #tanggal="ngModel" type="text"
          [matDatepicker]="picker" [(ngModel)]="dataSiswa.tanggal" #tanggal="ngModel">
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-stacked-text">Tanggal Pengembalian</label>
    <div class="uk-form-controls">
      <div class="uk-inline">
        <a class="uk-form-icon uk-form-icon-flip" (click)="picker1.open()" uk-icon="icon: calendar"></a>
        <input readonly class="uk-input" (change)="generateKode()"  #tanggal_kembali="ngModel" type="text"
          [matDatepicker]="picker1" [(ngModel)]="dataSiswa.tanggal_kembali" #tanggal_kembali="ngModel">
        <mat-datepicker #picker1></mat-datepicker>
      </div>
    </div>
  </div>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Nama Siswa</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="nama" [(ngModel)]="dataSiswa.nama" placeholder="Nama Siswa">
        </div>
        </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">ISBN</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="isbn" type="text" [(ngModel)]="dataSiswa.isbn" placeholder="ISBN">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Judul Buku</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="judul" type="text" [(ngModel)]="dataSiswa.judul" placeholder="Judul buku">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Status</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="status" type="text" [(ngModel)]="dataSiswa.status" placeholder="Status">
        </div>
      </div>

     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Batal</button>
        <button type="button" class="btn btn-primary" (click)="addPinjam()">Simpan</button>
    </div>
    
