<h3 class="box-title">Data Peminjaman</h3>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <button type="button" class="btn btn-primary"  (click)="dialogTambah()">+Tambah Data Peminjaman Buku</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Tanggal Pinjam</th>
              <th>Tanggal Kembali</th>
              <th>Denda(Rp.500/hari)</th>
              <th>ID Siswa</th>
              <th>Nama Siswa</th>
              <th>ISBN</th>
              <th>Judul Buku</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Datatransaksi">
              <td>{{item.tanggal.toDate()  | date:'dd MMM yyyy'}}</td>
              <td>{{item.tanggal_kembali.toDate()  | date:'dd MMM yyyy' }}</td>
              <td>{{item.denda}}</td>
              <td>{{item.Id_siswa}}</td>
              <td>{{item.nama}}</td>
              <td>{{item.isbn}}</td>
              <td>{{item.judul}}</td>
              <td>{{item.status}}</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
</div>
</div>
</div>    
