<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper" >
      <section class="content-header">
        <section class="content">
            <router-outlet></router-outlet>
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
    <app-settingsnavbar></app-settingsnavbar>
</div>
