<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>Kategori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">
  <ion-list *ngFor="let kategori of kategoris" (click)="pilih(kategori.id_kategori)">
    <ion-item button>
      <ion-label>{{kategori.kategori}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
