.errors{
    font-size: small;
    color: black;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.input-group{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

ion-toolbar{
    ion-avatar{
        margin: auto;
        margin-top: 25px;
        height: 80px;
        width: 80px;
    }
    height: 150px;
}
// ion-avatar{
//     text-align: center;
//     margin-bottom: 10px;
// }