<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-avatar>
      <img src="assets/img/open-book.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()">
    <div class="input-group"> 
      <div>
        <ion-card color="light" style="margin-top: 10%;">
          <ion-card-header>
            <div style="text-align: center;">
              <ion-label style="font-size: larger;" color="primary">Login</ion-label>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-list style="background: transparent;">
              <ion-item color="light">
                <ion-label position="floating">
                  Email  
                </ion-label>
                <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>
              </ion-item>
              <ion-item color="light">
                <ion-label position="floating">
                  Password  
                </ion-label>
                <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
              </ion-item>
              <div style="margin-top: 30px;">
                <ion-button expand="block" (click)="login()">Login</ion-button>
              </div>
              <div style="text-align: center; margin-top: 50px;">
                <ion-label><a (click)="forgot()">Lupa password?</a></ion-label>
                <br>
                <ion-label>Belum punya akun? <a (click)="register()">Buat akun</a></ion-label>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </form>
</ion-content>