<h1 mat-dialog-title>Upload Foto</h1>

<div mat-dialog-content>
      
  <image-cropper class="container-image"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="rasio"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <div class="uk-flex uk-margin uk-flex-middle uk-text-center">
    <div class="uk-width-expand" style="margin-right: 10px;">
      <input style="padding: 5px; outline: 2px dashed #ccc; text-align: center;" type="file" (change)="fileChangeEvent($event)" />
    </div>
    <div>
        <button class="uk-button uk-button-primary" (click)="unggahGambar()" [disabled]="loading || data == undefined">{{loading ? 'Mengunggah..':'Upload Foto'}}</button>
    </div>
  </div>

</div>



<div mat-dialog-actions class="footer">
  <span class="uk-width-expand"></span>
  <button type="button" class="btn btn-danger" (click)="onNoClick()" color="warn" slot="end">Batal</button>
  <button mat-raised-button color="accent" *ngIf="from == 'produk'" (click)="simpan()" [disabled]="loading || data == undefined">{{loading ? 'Mohon Tunggu..':'Simpan'}}</button>
<div>