
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$siper-primary: mat-palette($mat-indigo);
$siper-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$siper-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$siper-theme: mat-light-theme((
  color: (
    primary: $siper-primary,
    accent: $siper-accent,
    warn: $siper-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($siper-theme);

/* You can add global styles to this file, and also import other style files */
@import url('assets/bower_components/bootstrap/dist/css/bootstrap.min.css');
@import url('assets/bower_components/font-awesome/css/font-awesome.min.css');
@import url('assets/bower_components/Ionicons/css/ionicons.min.css');
@import url('assets/bower_components/jvectormap/jquery-jvectormap.css');
@import url('assets/dist/css/AdminLTE.min.css');
@import url('assets/dist/css/skins/_all-skins.min.css');
@import 'assets/plugins/iCheck/square/blue.css';
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
