<h1 mat-dialog-title>Tambah Data Siswa</h1>
<div mat-dialog-content>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">ID Siswa</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="id_siswa" [(ngModel)]="datasiswa.id" placeholder="ID Siswa">
        </div>
        </div>

        <div class="uk-margin" >
            <label class="uk-form-label">Kelas</label>
            <div class="uk-form-controls">
              <select class="uk-select" [(ngModel)]="kelas">
                  <option *ngFor="let n of dataKelas" value="{{n.kategori}}">{{n.kategori}}</option>
              </select>
            </div>
          </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Nama Siswa</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="nama" type="text" [(ngModel)]="datasiswa.nama" placeholder="Nama Siswa">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Status</label>
        <div class="uk-form-controls">
            <select [(ngModel)]="datasiswa.status" class="uk-input">
                <option value="aktif">Aktif</option>
                <option value="tidak_aktif">Tidak Aktif</option>
              </select>
        </div>
      </div>
     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Batal</button>
        <button type="button" class="btn btn-primary" (click)="addSiswa()">Simpan</button>
    </div>
    
