<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button detail (click)="login()"></ion-back-button>
    </ion-buttons>
    <ion-title>Buat Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Jenis Kelamin</ion-label>
          <ion-input [(ngModel)]="sex" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tanggal Lahir</ion-label>
          <ion-input [(ngModel)]="birth" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input [(ngModel)]="phone" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input [(ngModel)]="confirmPassword" type="password" (ionChange)="checkPassword()"></ion-input>
          <ion-text *ngIf="password && !passwordMatch" color="danger">Password do not match!</ion-text>
          <ion-text *ngIf="password && passwordMatch" color="success">Password match</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button [disabled]="!passwordMatch" expand="block" shape="round" color="primary" (click)="register()">Register</ion-button>
  </ion-card>
</ion-content>
