<h3 class="box-title">Data Kelas</h3>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <td><button type="button" class="btn btn-primary" data-toggle="modal" (click)="dialogTambah()">+Tambah Data Kelas</button></td>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Kelas</th>
              <th>AKSI</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Datakelas">
              <td>{{item.kelas}}</td>
              <td><button type="button" class="btn btn-success" data-toggle="modal" (click)="dialogEdit(item)">Edit</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="hapus(item.id)">Hapus</button></td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
          </div>
        </div>

  </div>
