<h1 mat-dialog-title>Edit Data Kelas</h1>
<div mat-dialog-content>

  <div mat-dialog-content >
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Kelas</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="kelas" type="text" [(ngModel)]="data.kelas" placeholder="Kelas">
        </div>
      </div>
     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Batal</button>
        <button type="button" class="btn btn-primary" (click)="editData()">Edit</button>
    </div>
    
