<h3 class="box-title">Data Pengembalian</h3>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <td><button type="button" class="btn btn-primary" data-toggle="modal" (click)="dialogTambah()">+Tambah Data Pengembalian Buku</button></td>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Tanggal Kembali</th>
              <th>Nama Siswa</th>
              <th>ISBN</th>
              <th>Judul Buku</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Datapengembalian">
              <td>{{item.tgl.toDate()  | date:'dd MMM yyyy'}}</td>
              <td>{{item.nama}}</td>
              <td>{{item.isbn}}</td>
              <td>{{item.judul}}</td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
      </div>
    </div>
  </div>
