ion-header{
    ion-toolbar{
        padding: 0 10px;
        height: 100px;
        --background: linear-gradient( 90deg, rgba(43,90,148,1) 0%, rgba(45,112,
        229,1) 35%, rgba(45,112,229,1) 100% );
    }
    ion-searchbar{
        padding: 0 10px;
        height: 100px;
        opacity: 100%;
    }
   
}

ion-content{
    --background: #f1f5f8;
    background: #f1f5f8;
    ion-card{
        border-radius: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px 10px 10px 10px;
        img{
            padding: 10px;
            height: 150px;
            width: 110px;
        }
        ion-card-header, ion-card-content{
            padding-left: 10px;
            padding-top: 0px;
            font-size: 10px;
            font-family: system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
            ion-card-title{
                font-size: .75rem;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            ion-card-subtitle{
                font-size: 10px;
            }
        }
    }
    
    ion-chip{ 
        margin: 15px 10px 10px 20px;
    }
    ion-row{
        margin-top: 0px auto;
    }
    
}

