<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)"> </ion-searchbar>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip (click)="openModal()">    
    <ion-label>Kategori</ion-label>
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-chip>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let buku of bukus">
        <ion-card button class="ion-text-left" (click)="openDetail(buku.isbn)">
          <img src="{{buku.sampul == undefined ? ' ':buku.sampul.url}}">
          <ion-card-header>
            <ion-card-title>{{buku.judul}}</ion-card-title>
            <ion-card-subtitle>BOOK COVER</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            by: {{buku.penulis}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
