<h3 class="box-title">Data Buku</h3>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <button type="button" class="btn btn-primary"  (click)="dialogTambah()">+Tambah Data Buku</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Sampul</th>
              <th>Kategori</th>
              <th>ISBN</th>
              <th>Judul Buku</th>
              <th>Rak Buku</th>
              <th>Status</th>
              <th>AKSI</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Databuku">
              <td (click)="uploadSampul(item)"><img width="60px" src="{{item.sampul == undefined ? 'https://umroh.com/blog/wp-content/uploads/2019/02/upload-your-logo-here-21052-p.png':item.sampul.url}}"></td>
              <td>{{item.kategori}}</td>
              <td>{{item.isbn}}</td>
              <td>{{item.judul}}</td>
              <td>{{item.rakbuku}}</td>
              <td>{{item.status == 'tersedia' ? 'Tersedia':'Tidak Tersedia'}}</td>
              <td style="text-align: center;">
                <button type="button" class="btn btn-primary" data-toggle="modal"  style="margin-right: 3px;" (click)="dialogDetail(item)">Detail</button>
                <button type="button" class="btn btn-success" data-toggle="modal"  (click)="dialogEdit(item)">Edit</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="hapus(item.id)" style="margin-left: 3px;">Hapus</button></td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
    </div>
  </div>
</div>