<h1 mat-dialog-title>Detail Data Buku</h1>
<div mat-dialog-content>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Kategori</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="nama" [(ngModel)]="data.kategori" placeholder="Nama" readonly>
        </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Rak Buku</label>
          <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" name="nama" [(ngModel)]="data.rakbuku" placeholder="Nama" readonly>
          </div>
          </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">ISBN</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="isbn" type="text" [(ngModel)]="data.isbn" placeholder="ISBN" readonly>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Judul Buku</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="judul" type="text" [(ngModel)]="data.judul" placeholder="Judul buku" readonly>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Penulis</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="penulis" type="text" [(ngModel)]="data.penulis" placeholder="Penulis" readonly>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Penerbit</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="penerbit" type="text" [(ngModel)]="data.penerbit" placeholder="Penerbit" readonly>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Tahun terbit</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="tahunterbit" type="text" [(ngModel)]="data.tahunterbit" placeholder="Penerbit" readonly>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Keterangan</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="penerbit" type="text" [(ngModel)]="data.keterangan" placeholder="Keterangan" readonly>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Status</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="status" type="text" [(ngModel)]="data.status" placeholder="Judul buku" readonly>
        </div>
      </div>

     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Tutup</button>
    </div>
    
