<h1 mat-dialog-title>Edit Data Buku</h1>
<div mat-dialog-content>
  <div mat-dialog-content >
    <div class="uk-margin" >
      <label class="uk-form-label">Kategori</label>
      <div class="uk-form-controls">
        <select class="uk-select" [(ngModel)]="data.kategori">
            <option *ngFor="let n of dataKategori" value="{{n.id_kategori}}">{{n.kategori}}</option>
        </select>
      </div>
    </div>
    <div class="uk-margin" >
      <label class="uk-form-label">Rak Buku</label>
      <div class="uk-form-controls">
        <select class="uk-select" [(ngModel)]="data.rak">
            <option *ngFor="let n of dataRak" value="{{n.nama_rak}}">{{n.nama_rak}}</option>
        </select>
      </div>
    </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">ISBN</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="isbn" type="text" [(ngModel)]="data.isbn" placeholder="ISBN" readonly >
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Judul Buku</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="judul" type="text" [(ngModel)]="data.judul" placeholder="Judul buku" >
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Penulis</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="penulis" type="text" [(ngModel)]="data.penulis" placeholder="Penulis" >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Penerbit</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="penerbit" type="text" [(ngModel)]="data.penerbit" placeholder="Penerbit" >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Tahun terbit</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="tahunterbit" type="text" [(ngModel)]="data.tahunterbit" placeholder="Penerbit">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Keterangan</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="penerbit" type="text" [(ngModel)]="data.keterangan" placeholder="Keterangan" >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Status</label>
        <div class="uk-form-controls">
          <select [(ngModel)]="data.status" class="uk-input">
            <option value="tersedia">Tersedia</option>
            <option value="tidak_tersedia">Tidak Tersedia</option>
          </select>
        </div>
      </div>

     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Tutup</button>
        <button type="button" class="btn btn-primary" (click)="editData()">Edit</button>
    </div>
    
