<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button detail (click)="login()"></ion-back-button>
    </ion-buttons>
    <ion-title>Lupa Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-subtitle>Please enter your email address</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  
  <ion-button expand="block" shape="round" (click)="resetPassword()">Reset Password</ion-button>
</ion-content>
