<h1 mat-dialog-title>Tambah Rak Buku</h1>
<div mat-dialog-content>
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">ID Rak</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="id" [(ngModel)]="dataRak.id" placeholder="ID Rak">
        </div>
        </div>
      

      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Nama Rak</label>
        <div class="uk-form-controls">
            <input class="uk-input"  id="form-stacked-text" name="nama-rak" type="text" [(ngModel)]="dataRak.nama" placeholder="Nama rak">
        </div>
      </div>


     
</div>
    <div mat-dialog-actions class="uk-flex">
        <span class="uk-width-expand"></span>
        <button type="button" class="btn btn-secondary" (click)="onNoClick()">Batal</button>
        <button type="button" class="btn btn-primary" (click)="addRak()">Simpan</button>
    </div>
    
