<h3 class="box-title">Rak Buku</h3>
<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
         <button type="button" class="btn btn-primary"  (click)="dialogTambah()">+Tambah Data Rak Buku</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>ID Rak</th>
              <th>Nama Rak</th>
              <th>AKSI</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Rakbuku">
              <td>{{item.id_rak}}</td>
              <td>{{item.nama_rak}}</td>
              <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit" (click)="dialogEdit(item)">Edit</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#hapus" (click)="hapus(item.id)" >Hapus</button></td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
   
          </div>
        </div>
  </div>
