img{
    height: 220px;
    width: 170px;
    overflow: hidden;
    text-align: center;
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

ion-grid{
    width: 365px;
    height: 250px;
    padding: 30px 5px 5px 5px;
}

ion-item{
    font-size: small;
    
    ion-label{
        text-overflow: inherit;
        white-space: unset;
    }
}