<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/m/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <img src="assets/img/book5.jpg">     
      </ion-col>
      <ion-col size="6">
        <ion-label>
          <h2>{{judul}}</h2>
          <br>
          <h3>by: {{penulis}}</h3>
          <h3>1995</h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-item>
      <ion-label>Penulis:</ion-label>
      <ion-label class="end">{{penulis}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Penerbit:</ion-label>
      <ion-label class="end">{{penerbit}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Tahun Terbit:</ion-label>
      <ion-label class="end">Rahman Hidayat</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Kategori:</ion-label>
      <ion-label class="end">{{kategori}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>{{keterangan}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
