:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

ion-list{
    contain: none;
    padding-top: 10px;
    ion-item{
        position: -webkit-sticky;
        margin-bottom: 20px;
        width: 90%;
        border-radius: 10px;

        img{
            // padding: 10px;
            // height: 150px;
            // width: 110px;
            width: 40px;
            height: 55px;
            padding-bottom: 5px;
            border: none;
        }
    }
}