<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/m/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Riwayat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="medium">
  <ion-list lines="full">
    <!-- <ion-list-header></ion-list-header> -->
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/book3.jpg">
      </ion-thumbnail>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/book5.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/book4.jpg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


<!-- ada di ion-thumbnail -->
